<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/about.css">

  <title>Health Care</title>
</head>
<body>
  <div id="navpage">
    <div id="close"><i class="ri-close-line"></i></div>
    <div id="mobilelinks">
      <a class="link" href="index.html">HOME</a>
      <a class="link" href="about.html">ABOUT</a>
      <a class="link" href="gallery.html">GALLERY</a>
      <a class="link" href="latestupdates.html">LATEST UPDATES</a>

      <a class="link" href="contact.html">CONTACT</a>


    </div>
  </div>
  
  <div id="header">
    <div id="overlay">
      <nav>
        <div >
          
        </div>
      <span id="hemberger"><i class="ri-menu-2-line"></i></span>
      <div id="links">
        <a class="link" href="/home">HOME</a>
        <a class="link" href="/about">ABOUT</a>
        <a class="link" href="/events">GALLERY</a>
        <a class="link" href="/latestupdates">LATEST UPDATES</a>

        <a class="link" href="/contact">CONTACT</a>

        
      </div>
    </nav>
    <h1>Guidance at your Doorstep</h1>
   
    </div>
     
  <div id="about">
      <div id="aboutContent">
        <h2>A FEW WORDS <br>
          <span> ABOUT <span id="rated"> ROYAL GLOBAL SCHOOL</span></span>
           </h2>
           <p>Established in the year 2012, Royal Global School, Guwahati is a K-12 co-educational day and residential school affiliated to the Central Board of Secondary Education.</p>
           <p>Dedicated to the pursuit of excellence, Royal Global is a comprehensive school with an inspiring and dynamic curriculum that would help students to realise their full potential, encourage them to pursue new interests and equip them with the skills required for success in the competitive 21st century.</p>
          </div>
          

      <div id="aboutImage">

</div>



  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col-4">
        <h2>ABOUT <br>
         <span id="rated"> FruitFul Care</span></h2>
      </div>
      <div class="col-8">
        <div class="col">
          <hr>
          <span id="rated" class="rated-heading"> Why Choose Us?</span>
          <p>We are highly experienced and have some of the best, highly renowed doctors, ICU, IPD, OPD, and the best facilities that we can offer.	</p>
          <hr>
        </div>
        <div class="col">
          <span id="rated" class="rated-heading"> We Care For You</span>
          <p>We dearly support and care for all our patients and provide them with the best patient care facilities including palliative care so they can live a happy life.</p>
          <hr>
        </div>
        <div class="col">
          <span id="rated" class="rated-heading"> The Best Solutions</span>
          <p>Count on our experts to deliver you the most suitable treatment you truly deserve.</p>
          <hr>
        </div>
        <div class="col">
          <span id="rated" class="rated-heading">More Experience</span>
          <p>We have been driven out by passion to make research and discoveries that can help heal you.</p>
          <hr>
        </div>
      </div>
    </div>
  </div>


  <footer>
    <p>An initiative made by Swagat Mohapatro of Class 8A</p>
</footer>

 <script src="/javascripts/script.js"></script>

</body>
</html>
