<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
 
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <link rel="stylesheet" href="/stylesheets/gallery.css">
  <link rel="stylesheet" href="/stylesheets/latestupdates.css">


  <title>Health Care</title>
</head>
<body>

  <div id="navpage">
    <div id="close"><i class="ri-close-line"></i></div>
    <div id="mobilelinks">
      <a class="link" href="/home">HOME</a>
      <a class="link" href="/about">ABOUT</a>
      <a class="link" href="/events">GALLERY</a>
      <a class="link" href="/latestupdates">LATEST UPDATES</a>

      <a class="link" href="/contact">CONTACT</a>

    </div>
  </div>
  <div id="background">
    
    <div id="overlay" style="overflow: hidden;">
      <nav>
      <div >
      </div>
     <span id="hemberger"><i class="ri-menu-2-line"></i></span>
      <div id="links">
        <a class="link" href="/home">HOME</a>
        <a class="link" href="/about">ABOUT</a>
        <a class="link" href="/events">GALLERY</a>
        <a class="link" href="/latestupdates">LATEST UPDATES</a>

        <a class="link" href="/contact">CONTACT</a>
       

        
      </div>
    </nav>
    <div class="container">
      <div class="rows">
        <div class="col-4">
          <div class="cards">
            <div class="card-body">Everyone 12 and older is eligible to get the vaccine against Covid-19. Majority of the population are double vaccinated as well as taken their boosters.</div>
          </div>
        </div>
        <div class="col-4">
          <div class="cards">
            <div class="card-body">It was the discovery the world had been waiting for: in 2020, the Oxford/AstraZeneca vaccine was found to be effective at preventing COVID-19 and offering a high level of protection.</div>
          </div>
        </div>
        <div class="col-4">
          <div class="cards">
            <div class="card-body">Researchers on the NIHR-funded and supported RECOVERY study (Randomised Evaluation of COVID-19 therapy), discovered that the steroid dexamethasone and the arthritis treatment tocilizumab were able to dramatically reduce the risk of death for patients with severe COVID-19. </div>
          </div>
        </div>
        <div class="col-4">
          <div class="cards">
            <div class="card-body">The conclusion of a 10-year trial in 2020 revealed that oral antibiotics could successfully be used to treat a common cystic fibrosis complication at home.
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="cards">
            <div class="card-body">Researchers from Monash University have identified a new way to restore insulin production in the pancreas. In lab experiments on pancreatic stem cells from donors with type 1 diabetes, the team was able to activate them to begin expressing insulin by exposing them to a drug compound known as GSK126.
            </div>
          </div>
        </div>

      </div>
    </div>
   
    </div>
     
      
  </div>
  
 <script src="/javascripts/script.js"></script>
</body>
</html>
